{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <div class="profile">
        <div class="profile-data">
            <div class="image">
                {% if object.profile_picture %}
                    <img src="{{ object.profile_picture }}" alt="img">
                {% else %}
                    <img src="{% static 'images/no_image.png' %}" alt="img">
                {% endif %}
            </div>
        </div>
        <div class="personal">
            <div class="edit">
                {% if object.username %}
                    <p>{{ object.username }}</p>
                {% else %}
                    <p>No Username</p>
                {% endif %}
                
                {% if object.pk == request.user.pk %}
                    <a href="{% url 'edit_user' pk=request.user.pk %}">
                        <img class="edit-img" src="{% static 'images/edit_pen_icon.png' %}" alt="edit button">
                    </a>
                    
                    <a href="{% url 'delete_user' pk=request.user.pk %}">
                        <img class="bin-img" src="{% static 'images/icon_remove.png' %}" alt="bin button">
                    </a>
                {% endif %}
            </div>
        <!-- TODO:Fix this up! -->
            <div class="data">
                <p>Programs: {{ programs.count }}</p>
                
                <p>Workouts: {{ workouts.count }}</p>
             
                <p>Meal Plans: {{ meal_plans.count }}</p>
            </div>
            {% if object.full_name %}
                <h3 class="names">{{ object.full_name }}</h3>
            {% endif %}
            
            <p class="date_of_birth">{{ object.date_of_birth }}</p>
        
            <p class="email">{{ object.user.email }}</p>
        </div>
    </div>
    
{% endblock %}
