{% extends 'base.html' %}
{% load static %}

{% block main_content %}

    <div class="login-register-div">
        <div class="login-register-box">
            <h1>WorkoutTracker</h1>
            
            <form action="{% url 'signup' %}" method="post" >
                {{ form }}
                
                <button type="submit">Register</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="second-option">
            <p>Have an account? <a href="{% url 'signin' %}">Log in</a></p>
        </div>
    </div>
{% endblock %}
