{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="login-register-box">
        <div class="container">
            <h1>WorkoutTracker</h1>
            
            <form action="{% url 'signin' %}?next={{ next }}" method="post">
                {{ form }}
                
                <button class="edit-delete-button" type="submit"><span></span>Log in</button>
                {% csrf_token %}
            </form>
            <div>
                <p>Don't have an account? <a href="{% url 'signup' %}"><button class="edit-delete-button" type="button"><span></span>Register</button></a></p>
            </div>
        </div>
        
    </div>
{% endblock %}
