{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <section id="details-page">
        <h1>Meal Plan Details</h1>
        <div class="info-section">
            <div class="details-header">
                {% if object.image_url %}
                    <img class="details-img" src="{{ object.image_url }}" alt="no photo">
                {% else %}
                    <img class="details-img" src="{% static 'images/no_image.png' %}" alt="nothing">
                {% endif %}
                <h4 class="description">Meal Plan: {{ object.name }}</h4>
                <p class="description">Meal Plan Type: {{ object.meal_plan_type }}</p>
                <p class="description">Goal Calories: {{ object.goal_calories }}</p>
                <p class="description">Description: {{ object.description }}</p>
                {% if request.user == object.user %}
                    <a href="{% url 'edit_meal_plan' pk=object.pk program_id=program.pk%}">
                        <button class="edit-delete-button" type="button"><span></span>Edit Meal Plan</button>
                    </a>
                
                    <a href="{% url 'delete_meal_plan' pk=object.pk program_id=program.pk%}">
                        <button class="red-button" type="button"><span></span>Delete Meal Plan</button>
                    </a>
                    
                {% endif %}
                <a href="{% url 'info_meal_plan' program_id=program.pk%}"> 
                        <button class="edit-delete-button"><span></span>Back</button>
                </a>
            </div>
        </div>
    </section>
    
{% endblock %}
