{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <div class="add-button">
        <a href="{% url 'create_meal' program_id=program.pk meal_plan_id=meal_plan.pk%}"><button><span></span>Add Meal</button></a>
    </div>
    
    {% if not meals %}
      <p class="no-meals">No meals yet</p>
        
    
    {% else %}
    
      <section id="meals">
        <h1>Total meals: {{ meals.count }}</h1>
      
        {% for meal in meals %}
            <div class="meal-card">
            <h1>Meal: {{ meal.name }}</h1>
            <div class="image-wrap">
            {% if meal.image_url %}
                <img src="{{ meal.image_url }}" alt="no photo">
            {% else %}
                <img src="{% static 'images/no_image.png' %}" alt="no photo">
            {% endif %}
            </div>
                <p>Calories: {{ meal.calories }}</p>
                <p>Meal Type: {{ meal.meal_type }}</p>
                <p>Meal Name Type: {{ meal.meal_name_type }}</p>
              <div>
                  <a href="{% url 'details_meal' pk=meal.pk program_id=program.pk meal_plan_id=meal_plan.pk%}"><button><span></span>Details</button></a>
              </div>
            </div>    
        {% endfor %}
      {% endif %}
    <div class="back">
        <a href="{% url 'info_meal_plan' program_id=program.pk%}">
            <button><span></span>Back</button>
        </a>
    </div>
      </section>
    
{% endblock %}