{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <a href="{% url 'create_workout' program_id=program.pk %}"><button>Add Workout</button></a>
    
    {% if not workouts %}
      <p class="no-articles">No workouts yet</p>
        
    
    {% else %}
    
      <section id="">
        <h1>Total workouts: {{ workouts.count }}</h1>
      
        {% for workout in workouts %}
            <div class="">
              <div class="">
                  {% if workout.image_url %}
                    <img src="{{ workout.image_url }}" alt="no photo" sizes="small"/>
                  {% else %}
                    <img src="{% static 'images/no_image.png' %}" alt="">
                  {% endif %}
              </div>
              <h1>{{ workout.name }}</h1>
              <div class="details-buttons">
                  <a href="{% url 'details_workout' pk=workout.pk program_id=program.pk%}" class="">Details</a>
                  <a href="{% url 'info_exercise' program_id=program.pk workout_id=workout.pk%}" class="">Exercises</a>
              </div>
            </div>    
        {% endfor %}
      {% endif %}
        <a href="{% url 'dashboard' %}"> 
            <button>Back</button>
        </a>
      </section>
    
{% endblock %}


