{% extends 'base.html' %}

{% load static %}

{% block main_content %}

    <div class="exercise">
        {% if object.image_url %}
            <img src="{{ object.image_url }}" alt="no photo">
        {% else %}
            <img src="{% static 'images/no_image.png' %}" alt="no photo">
        {% endif %}
        <h4>Meal Name: {{ object.name }}</h4>
        <p>Calories: {{ object.calories }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Meal Type: {{ object.meal_type }}</p>
        <p>Meal Name Type: {{ object.meal_name_type }}</p>
        <p>Carbohydrates: {{ object.carbohydrates }}</p>
        <p>Protein: {{ object.proteins }}</p>
        <p>Fats: {{ object.fats }}</p>
        {% if request.user == object.user %}
            <a href="{% url 'edit_meal' pk=object.pk program_id=program.pk meal_plan_id=meal_plan.pk%}">
                <img class="edit-img" src="{% static 'images/edit_pen_icon.png' %}" alt="edit button">
            </a>
        
            <a href="{% url 'delete_meal' pk=object.pk program_id=program.pk meal_plan_id=meal_plan.pk%}">
                <img class="bin-img" src="{% static 'images/icon_remove.png' %}" alt="bin button">
            </a>
        {% endif %}
        <a href="{% url 'info_meals' program_id=program.pk meal_plan_id=meal_plan.pk%}"> 
                <button>Back</button>
        </a>
    </div>
    
{% endblock %}