{% extends 'base.html' %}

{% block main_content %}

    <div class="edit-delete edit-program">
        <h2>Delete Meal Plan</h2>
    
        <form action="{% url 'delete_meal_plan' pk=object.pk program_id=program.pk%}" method="post">
            {% csrf_token %}
            
            {{ form }}
            
            <button class="delete-btn" type="submit">Delete</button>
            
            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go Back</button>
            </a>
        </form>
    </div>

{% endblock %}